BENJAGEST_DB_ROOT_PASSWORD=root
BENJAGEST_DB_NAME=benjagest
BENJAGEST_DB_USER=benjagest
BENJAGEST_DB_PASSWORD=benjagest
BENJAGEST_DB_PORT=3306

BENJAGEST_BACKEND_PORT=8080
BENJAGEST_API_BASE_URL=http://localhost:8080/api
